<%= form_with model: @tag do |form| %>

  <div class="d-flex justify-content-center">

    <div class="tag-card" style="box-shadow: 0 0 40px 0 rgb(<%= @tag.light_rgb %>);">
      <% if @tag.tag_image.attached? %>
        <%= image_tag @tag.tag_image, class: 'card-img-top' %>
      <% else %>
        <i class="fas fa-tag"></i>
        <div class="d-flex justify-content-center">
          <%= form.file_field :tag_image, direct_upload: true %>
        </div>
      <% end %>
      <div class="tag-name">
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div>
        <table class="table">

          <thead>
          <tr>
            <th>
              <i class="fas fa-heartbeat"></i>
            </th>
            <th>
              <i class="fas fa-bomb"></i>
            </th>
            <th>
              <i class="fas fa-shield-alt"></i>
            </th>
            <th>
              <i class="fas fa-bolt"></i>
            </th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>
              <%= @tag.health %>
            </td>
            <td>
              <%= @tag.defence %>
            </td>
            <td>
              <%= @tag.attack %>
            </td>
            <td>
              <%= @tag.speed %>
            </td>
          </tr>
          </tbody>

        </table>
      </div>

      <div>
        <div class="form-group">
          <%= form.label :origin %>
          <%= form.text_field :origin, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :variety %>
          <%= form.text_field :variety, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :light_rgb, t('light_rgb') %>
          <%= form.color_field :light_rgb, value: Chroma.paint("rgb(#{@tag.light_rgb})").to_hex, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <%= button_tag type: 'submit', class: 'btn btn-sm btn-success tag-button' do %>
      <i class="fas fa-save"></i>
    <% end %>
    <%= link_to tags_path, class: 'btn btn-sm btn-primary tag-button' do %>
      <i class="fas fa-list"></i>
    <% end %>
    <%= link_to tag_path(@tag), class: 'btn btn-sm btn-primary tag-button' do %>
      <i class="fas fa-eye"></i>
    <% end %>
    <%= link_to soft_delete_tag_path(@tag), data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger tag-button' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>


<% end %>