<% if @tags.count == 0 %>

  <div class="d-flex justify-content-center">
    <div class="info-message">
      <%= user_signed_in? ? t('no_tags_found') : t('not_signed_in') %>
    </div>
  </div>

<% else %>

  <table id="tags-table" class="table table-condensed table-striped table-dark table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Origin</th>
      <th>Type</th>
      <th><i class="fas fa-heartbeat"></i></th>
      <th><i class="fas fa-bomb"></i></th>
      <th><i class="fas fa-shield-alt"></i></th>
      <th><i class="fas fa-bolt"></i></th>
      <th>Last seen</th>
      <th>Owner</th>
      <th colspan="4">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= tag.origin %></td>
        <td><%= tag.variety %></td>
        <td><%= tag.health %></td>
        <td><%= tag.attack %></td>
        <td><%= tag.defence %></td>
        <td><%= tag.speed %></td>
        <td><%= time_ago_in_words(tag.last_seen) %> ago</td>
        <td>
          <%= link_to user_path(tag.user) do %>
            <%= image_tag tag.user.image, style: 'max-width: 35px; max-height: 35px', title: tag.user.name %> <%= tag.user.name %>
          <% end %>
        </td>
        <td>
          <%= render partial: 'layouts/elements/trigger_tag_button', locals: { tag: tag } %>
        </td>
        <td>
          <%= render partial: 'layouts/elements/view_tag_button', locals: { tag: tag } %>
        </td>
        <td>
          <%= render partial: 'layouts/elements/edit_tag_button', locals: { tag: tag } %>
        </td>
        <td>
          <%= render partial: 'layouts/elements/delete_tag_button', locals: { tag: tag } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>