<div class="d-flex justify-content-center">

  <div id="tag-card" class="tag-card" style="box-shadow: 0 0 40px 0 rgb(<%= @tag.light_rgb %>);">
    <% if @tag.tag_image.attached? %>
      <%= image_tag @tag.tag_image %>
    <% else %>
      <i class="fas fa-tag"></i>
      <div class="d-flex justify-content-center tag-file-upload">

        <%= form_with model: @tag do |form| %>

          <%= form.file_field :tag_image, direct_upload: true %>

          <%= render partial: 'layouts/elements/save_tag_button', locals: {tag: @tag, form: form} %>

        <% end %>

      </div>
    <% end %>
    <div class="tag-name">
      <%= @tag.name %>
    </div>

    <div>
      <table class="table table-sm table-dark table-striped">

        <thead>
        <tr>
          <th>
            <i class="fas fa-heartbeat"></i>
          </th>
          <th>
            <i class="fas fa-bomb"></i>
          </th>
          <th>
            <i class="fas fa-shield-alt"></i>
          </th>
          <th>
            <i class="fas fa-bolt"></i>
          </th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>
            <%= @tag.health %>
          </td>
          <td>
            <%= @tag.defence %>
          </td>
          <td>
            <%= @tag.attack %>
          </td>
          <td>
            <%= @tag.speed %>
          </td>
        </tr>
        </tbody>

      </table>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-5"></div>
    <div class="col-2">
      <div class="d-flex justify-content-around">
        <%= render partial: 'layouts/elements/tags_index_button', locals: {tag: @tag} %>
        <%= render partial: 'layouts/elements/edit_tag_button', locals: {tag: @tag} %>
        <%= render partial: 'layouts/elements/trigger_tag_button', locals: {tag: @tag} %>
      </div>
    </div>
    <div class="col-5"></div>
  </div>
</div>