<div class="d-flex justify-content-center">

  <div class="tag-card" style="box-shadow: 0 0 40px 0 rgb(<%= @tag.light_rgb %>);">
    <% if @tag.tag_image.attached? %>
      <%= image_tag @tag.tag_image, class: 'card-img-top' %>
    <% else %>
      <i class="fas fa-tag"></i>
      <div class="d-flex justify-content-center">

        <%= form_with model: @tag do |form| %>

          <%= form.file_field :tag_image, direct_upload: true %>

          <%= button_tag type: 'submit', class: 'btn btn-sm btn-primary' do %>
            <i class="fas fa-save"></i>
          <% end %>

        <% end %>

      </div>
    <% end %>
    <div class="tag-name">
      <%= @tag.name %>
    </div>

    <div>
      <table class="table">

        <thead>
        <tr>
          <th>
            <i class="fas fa-heartbeat"></i>
          </th>
          <th>
            <i class="fas fa-bomb"></i>
          </th>
          <th>
            <i class="fas fa-shield-alt"></i>
          </th>
          <th>
            <i class="fas fa-bolt"></i>
          </th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>
            <%= @tag.health %>
          </td>
          <td>
            <%= @tag.defence %>
          </td>
          <td>
            <%= @tag.attack %>
          </td>
          <td>
            <%= @tag.speed %>
          </td>
        </tr>
        </tbody>

      </table>
    </div>

  </div>
</div>

<div class="d-flex justify-content-center">
  <%= link_to tags_path, class: 'btn btn-sm btn-primary tag-button' do %>
    <i class="fas fa-backward"></i>
  <% end %>
  <%= link_to edit_tag_path(@tag), class: 'btn btn-sm btn-primary tag-button' do %>
    <i class="fas fa-edit"></i>
  <% end %>
</div>