<div class="flex-col flex-centered-h info-panel">
  <% if current_user.devices.count.zero? %>

    <div class="flex-row flex-centered-h">
      <h3>You have no devices :(</h3>
    </div>

  <% end %>

  <% current_user.devices.each do |device| %>
    <div class="flex flex-row flex-centered-h device-panel">
      <div class="flex-col flex-centered-h">
        <div class="flex-row flex-centered-h">
          <h3>
            <% if device.active %>
              <i class="fas fa-check-circle text-success" title="This device is active"></i>
            <% else %>
              <i class="fas fa-times-circle text-danger" title="This device is not active"></i>
              <% end %>
            <%= device.name %>
          </h3>
        </div>

        <div class="flex-row flex-centered-h">
          <%#= device.device_id %>&nbsp;
        </div>

        <div class="flex-row flex-centered-h justify-content-between">
          <%= link_to signal_device_device_path(device), class: 'btn btn-sm btn-success' do %>
            <i class="fas fa-satellite-dish"></i>
          <% end %>
          <%= link_to designal_device_device_path(device), class: 'btn btn-sm btn-danger' do %>
            <i class="fas fa-satellite-dish"></i>
          <% end %>

          <%= link_to '#', class: 'btn btn-sm btn-primary' do %>
            <i class="fas fa-edit"></i>
          <% end %>

          <%= link_to device_path(device), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="flex flex-centered-h">
    <%= link_to 'Add Device', '#', class: 'btn btn-sm btn-primary' %>
  </div>
</div>